@using Milky.WebUI.DTOs.Employee

@model List<ResultEmployeeDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="content mt-0 p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Takım Arkadaşları</div>
                        </div>
                        <div class="card-body">

                            <div class="card-body p-0">
                                <div class="mailbox-controls">
                                    <div class="card-sub">
                                        Takım arkadaşları bilgileri bu sayfada görüntüleyebilir veya güncelleyebilirsiniz.
                                    </div>
                                    
                                </div>
                                <table class="table align-items-center table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Çalışan Resmi</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Adı Soyadı</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Mesleği</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Sil</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-top">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="align-middle" width="150px">
                                                    <div>
                                                        <img src="/employeeImages/@item.ImageUrl" class="rounded me-3" style="width:100px;height:75px;">
                                                    </div>
                                                </td>

                                                <td class="align-middle">
                                                    <span class="text-s  mb-0">@item.Name</span>
                                                </td>
                                                <td class="align-middle">
                                                    <span class="text-s  mb-0">@item.Job </span>
                                                </td>
                                                <td width="100px" class="align-middle text-center">
                                                    <a href="/Admin/Employee/Delete/@item.ID" class="btn bg-gradient-danger ">Sil</a>
                                                </td>
                                                <td width="100px" class="align-middle text-center">
                                                    <a href="/Admin/Employee/Update/@item.ID" class="btn bg-gradient-warning ">Güncelle</a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <div>
                                    <a href="/Admin/Employee/Create/" class="btn btn-primary">Yeni Çalışan Oluştur</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



