@using Milky.WebUI.DTOs.Employee
@model ResultEmployeeDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid p-2">
            <div class="card h-100">
                <div class="card-header p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 text-dark">Çalışan Düzenleme Ekranı</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                            <div class="table_section padding_infor_info">
                                <div class="table-responsive-sm m-2">
                                    <!-- table section -->
                                    <form method="post" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="ID" />
                                        <div class="form-group p-1">
                                            <label>Ad Soyad</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Name" placeholder="Ad Soyad girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Meslek</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Job" placeholder="Meslek girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Çalışan Resmi</label>
                                            <input type="file" class="form-control form-control-s" asp-for="Image">
                                        </div>
                                        <div class="form-group p-1">
                                            <button type="submit" class="btn btn-primary">Çalışan Düzenle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

