
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="/dairy/img/banner.jpg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="/dairy/img/banner-1.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-light mb-3">En İyi Süt Ürünlerini Satıyoruz</h2>
                        <p class="text-light mb-4">Kalitemiz ve hizmet anlayışımızla size en iyisini sunuyoruz. Müşteri memnuniyeti odaklı yaklaşımımızla her zaman yanınızdayız.</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Daha Fazlasını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="/dairy/img/banner-2.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-light mb-3">Taze Sütü Dünya Çapında Teslim Ediyoruz</h2>
                        <p class="text-light mb-4">Doğal ve taze süt ürünlerimizle dünyanın dört bir yanına hizmet götürüyoruz. Sizin için en iyisini sağlamak için çalışıyoruz.</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Daha Fazlasını Oku</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>